extends ../layout

block content
    include ../mixins/request
    .row
        .col-md-5.col-md-offset-3
            .x_panel
                .x_title
                    h2
                        | Регистрация нового пользователя
                    .clearfix
                .x_content
                    form#regForm.form-horizontal.form-label-left(data-parsley-validate='', novalidate='' method="post")
                        +form-group({label: 'Логин', name:'login', required: true})
                        +form-group({label: 'Пароль', name:'password', required: true, type: 'password'})
                        .form-group
                            .col-md-6.col-sm-6.col-xs-12.col-md-offset-3
                                button.btn.btn-success(type='submit')
                                    |  Зарегистрировать