.col-md-3.left_col
    .left_col.scroll-view
        .navbar.nav_title(style='border: 0;')
            a.site_title(href='./index')
                //i.fa.fa-paw
                span DATA-HUB.PRO
        .clearfix
        //.profile.clearfix
        //    //.profile_pic
        //    //    img.img-circle.profile_img(src='images/img.jpg', alt='...')
        //    .profile_info
        //        span Welcome,
        //        h2(style="float: left;") John Doe
        //br
        #sidebar-menu.main_menu_side.hidden-print.main_menu
            .menu_section
                //h3 General
                ul.nav.side-menu
                    li
                        a(href='/')
                            i.fa.fa-home
                            |  Главная
                    li
                        a
                            i.fa.fa-terminal
                            |  Запросы
                            span.fa.fa-chevron-down
                        ul.nav.child_menu
                            li
                                a(href='./fl')
                                    i.fa.fa-user
                                    | Физ. лица
                            //li
                                a(href='index.html')
                                    i.fa.fa-university
                                    | Юр. лица
        //.sidebar-footer.hidden-small
            a(data-toggle='tooltip', data-placement='top', title='Settings')
                span.glyphicon.glyphicon-cog(aria-hidden='true')
            a(data-toggle='tooltip', data-placement='top', title='FullScreen')
                span.glyphicon.glyphicon-fullscreen(aria-hidden='true')
            a(data-toggle='tooltip', data-placement='top', title='Lock')
                span.glyphicon.glyphicon-eye-close(aria-hidden='true')
            a(data-toggle='tooltip', data-placement='top', title='Logout')
                span.glyphicon.glyphicon-off(aria-hidden='true')