extends layout

block content

  .row
    .col-lg-4.col-md-4.col-sm-12.col-xs-12
        .panel.panel-info
            .panel-heading 
              h2.text-center История запросов
            .panel-body#historyInterval
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                h4 Период
                label(for="period") Отобразить запросы за период
                select.form-control.input-sm#period(data-name="params.period")
                    option(value="") Не выбрано
                    option(value="1") С начала года
                    option(value="2") Вся история
                    option(value="3") С конца прошлого
                    option(value="4") Два года назад
                
              .col-md-6.col-lg-6.col-sm-6.col-xs-6
                .form-group
                  label(for="periodStart") Начало
                  .input-group.date
                    input#periodStart.form-control(data-name="params.startDate" type="text")
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar

                
              .col-md-6.col-lg-6.col-sm-6.col-xs-6
                .form-group
                  label(for="periodEnd") Окончание
                  .input-group.date
                    input#periodEnd.form-control(data-name="params.endDate" type="text")
                    span.input-group-addon
                      span.glyphicon.glyphicon-calendar

                
              .col-lg-12.col-md-12.col-sm-12.col-xs-12
                ul.list-group
                  li.list-group-item
                    | Применить фильтр
                    .material-switch.pull-right
                      input#switchHistoryFilter(name='params.history', type='checkbox')
                      label.label-success(for='switchHistoryFilter')
              
              //- .col-lg-12.col-md-12.col-sm-12.col-xs-12
              //-   .input-group
              //-     span.input-group-addon
              //-       i.fa.fa-search
              //-     input.form-control(type='text' placeholder='найти запрос, выполненный ранее')


                  //-else
                  

    .col-lg-8.col-md-8.col-sm-12.col-xs-12#historyRows.accordion-wrap
        
        label 19.03.2017 
        .panel.panel-default
            
            .panel-body
              .input-group.accordion-string
                span.input-group-addon 
                  i.fa.fa-clock-o.fa-fw.fa-myCustom
                  strong &nbsp;17.34
              
                .form-control
                  h4 Василий Куприянов
                  span Паспорт: 1234 098767
                span.input-group-addon.serviceName
                  a.toolTip.success(data-toggle="tooltip" data-placement="top" title="Twelve Services")
                    label 12&nbsp;
                      i.fa.fa-clone.fa-2x
              article(style="display:none")
                ul.list-group
                  li.list-group-item Here some text for explain what's going on
                  li.list-group-item Here some text for explain what's going on
                  li.list-group-item Here some text for explain what's going on
                  li.list-group-item Here some text for explain what's going on
                
              .input-group.accordion-string
                span.input-group-addon 
                  i.fa.fa-clock-o.fa-fw.fa-myCustom
                  strong &nbsp;17.34
        
                .form-control
                  h4 Василий Куприянов
                  span Паспорт: 1234 098767
                span.input-group-addon.serviceName
                  a.toolTip.success(data-toggle="tooltip" data-placement="top" title="skipTrace")
                    label skipTrace
              
              article(style="display:none")
                ul.list-group
                  li.list-group-item Here some text for explain what's going on

        label 19.03.2017 
        .panel.panel-default
                      
            .panel-body
              .input-group.accordion-string
                span.input-group-addon 
                  i.fa.fa-clock-o.fa-fw.fa-myCustom
                  strong &nbsp;17.34
              
                .form-control
                  h4 Василий Куприянов
                  span Паспорт: 1234 098767
                span.input-group-addon.serviceName
                  a.toolTip.default(data-toggle="tooltip" data-placement="top" title="Three Services")
                    label 3&nbsp;
                      i.fa.fa-clone.fa-2x
              article(style="display:none")
                ul.list-group
                  li.list-group-item Here some text for explain what's going on       
                
              .input-group.accordion-string
                span.input-group-addon 
                  i.fa.fa-clock-o.fa-fw.fa-myCustom
                  strong &nbsp;17.34
              
                .form-control
                  h4 Василий Куприянов
                  span Паспорт: 1234 098767
                span.input-group-addon.serviceName
                  a.toolTip.success(data-toggle="tooltip" data-placement="top" title="fastCheck")
                    label fastCheck
              article(style="display:none")
                ul.list-group
                  li.list-group-item Here some text for explain what's going on       
                
              .input-group.accordion-string
                span.input-group-addon 
                  i.fa.fa-clock-o.fa-fw.fa-myCustom
                  strong &nbsp;17.34
              
                .form-control
                  h4 Василий Куприянов
                  span Паспорт: 1234 098767
                span.input-group-addon.default.serviceName
                  a.toolTip.danger(data-toggle="tooltip" data-placement="top" title="fastCheck")
                    label fastCheck
                  a.toolTip.success(data-toggle="tooltip" data-placement="top" title="skipTrace")
                    label skipTrace
                  a.toolTip.default(data-toggle="tooltip" data-placement="top" title="fastCheck")
                    label fastCheck    
              article(style="display:none")
                ul.list-group
                  li.list-group-item Here some text for explain what's going on       
                
