extends layout

block content

  .row
      .col-lg-4.col-md-5.col-sm-3.col-xs-12
          .panel.panel-default
              .panel-heading Источники
              .list-group#sources
                  each source in sources
                      if source.enabled
                          a.list-group-item(data-name=source.code)
                              .row
                                  .col-lg-8.col-md-8.col-sm-8 #{source.name}
                                  .col-lg-4.col-md-4.col-sm-4.text-right

                                      span.source-state(title="Выполнить запрос в источник") &nbsp;
                                          .fa.fa-plus.text-muted
                                          .fa.fa-check-circle
                      //-else
                          .list-group-item(href=source.code)
                              span.text-muted #{source.name} (Временно недоступен)

      .col-lg-8.col-md-7.col-sm-9.col-xs-12
          #splash.panel.panel-default.hidden
              .panel-heading Параметры Запроса
              .panel-body
                  h4.text-center Выберите Источники

          form#params.hidden.form-horizontal(name="app" action="/create" method="POST")
              each source in sources
                  input(type="hidden" name=source.code value="0")

              .panel.panel-default
                  .panel-heading Параметры Запроса
                  .panel-body
                      .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Фамилия
                          .col-lg-8.col-md-12.col-sm-7
                              .input-group.input-group-sm
                                  .input-group-addon Аа
                                  input.form-control(type="text" name="params.lastName" value=params["lastName"])
                      .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Имя
                          .col-lg-8.col-md-12.col-sm-7
                              .input-group.input-group-sm
                                  .input-group-addon Аа
                                  input.form-control(type="text" name="params.firstName" value=params["firstName"])
                      .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Отчество
                          .col-lg-8.col-md-12.col-sm-7
                              .input-group.input-group-sm
                                  .input-group-addon Аа
                                  input.form-control(type="text" name="params.middleName" value=params["middleName"])
                      .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Пол
                          .col-lg-8.col-md-12.col-sm-7
                              select.form-control.input-sm(name="params.gender")
                                  option(value="") Не выбрано
                                  option(value="M") Мужской
                                  option(value="W") Женский
                      .form-group.hidden
                          .col-lg-4.col-md-5.col-sm-5
                              label Дата Рождения
                          .col-lg-4.col-md-6.col-sm-5
                              .input-group.input-group-sm
                                  input.form-control.cmt-date-field(type="text" name="params.dateOfBirth" value=params["dateOfBirth"])
                                  span.input-group-addon
                                      .fa.fa-calendar
                      .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Место Рождения
                          .col-lg-8.col-md-12.col-sm-7
                              .input-group.input-group-sm
                                  .input-group-addon Аа
                                  input.form-control(type="text" name="params.placeOfBirth" value=params["placeOfBirth"])
                      
                      #document.form-block.hidden
                          h5.text-primary Паспорт
                          //- hr
                          .form-group.hidden
                              .col-lg-4.col-md-5.col-sm-5.col-xs-12
                                  label Серия и Номер
                              .col-lg-8.col-md-7.col-sm-7.col-xs-12
                                  .row
                                      .col-lg-4.col-md-5.col-sm-4.col-xs-5
                                          input.form-control.input-sm(type="text" maxlength="4" name="params.idSeria" )
                                      .col-lg-6.col-md-7.col-sm-6.col-xs-7
                                          input.form-control.input-sm(type="text" maxlength="6" name="params.idNumber" )
                          .form-group.hidden
                              .col-lg-4.col-md-5.col-sm-5
                                  label Дата выдачи
                              .col-lg-4.col-md-6.col-sm-5
                                  .input-group.input-group-sm
                                      input.form-control.cmt-date-field(type="text" name="params.idIssueDate" )
                                      span.input-group-addon
                                          .fa.fa-calendar
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Место выдачи
                              .col-lg-8.col-md-12.col-sm-7
                                  .input-group.input-group-sm
                                      .input-group-addon Аа
                                      input.form-control(type="text" name="params.idIssuePlace" )
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Выдан
                              .col-lg-8.col-md-12.col-sm-7
                                  .input-group.input-group-sm
                                      .input-group-addon Аа
                                      input.form-control(type="text" name="params.idIssueBy" )
                      
                      
                      #loan.form-block.hidden
                          h5.text-primary Займ
                          //- hr
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Сумма
                              .col-lg-8.col-md-12.col-sm-7
                                  .input-group
                                      .input-group-addon
                                          .fa.fa-ruble
                                      input.form-control.input-sm(type="text" name="params.loan" placeholder="0,00" )

                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Срок
                              .col-lg-8.col-md-12.col-sm-7
                                  select.form-control.input-sm(name="params.loanDuration")
                                      option(value="") Не выбрано
                                      option(value="1") менее 10 дней
                                      option(value="2") 14 дней
                                      option(value="3") 30 дней
                                      option(value="5") 60 дней
                                      option(value="6") более 60 дней
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Тип
                              .col-lg-8.col-md-12.col-sm-7
                                  select.form-control.input-sm(name="params.loanType")
                                      option(value="") Не выбрано
                                      option(value="1") Наличными
                                      option(value="2") Другое
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Валюта
                              .col-lg-8.col-md-12.col-sm-7
                                  select.form-control.input-sm(name="params.params.loanCurrency")
                                      option(value="") Не выбрано
                                      option(value="RUB") Российский рубль
                                      option(value="USD") Доллар США
                                      option(value="EUR") Евро
                          .form-group.hidden
                              .col-lg-4.col-md-12.col-sm-5
                                  label Цель
                              .col-lg-8.col-md-12.col-sm-7
                                  select.form-control.input-sm(name="params.loanReason")
                                      option(value="") Не выбрано
                                      option(value="06") Ипотека
                                      option(value="01") Кредит на автомобиль
                                      option(value="14") Кредит на покупку акций
                                      option(value="12") Кредит на покупку оборуд-я
                                      option(value="11") Кредит на пополн.оборотн.ср-в
                                      option(value="10") Кредит на развитие бизнеса
                                      option(value="13") Кредит на строительство
                                      option(value="07") Кредитная карта
                                      option(value="04") Лизинг
                                      option(value="15") Межбанковский кредит
                                      option(value="16") Микрокредит
                                      option(value="99") Неизвестно
                                      option(value="09") Потребительский кредит
                                      option(value="50") Просмотр счета

                      #phone.form-block.hidden
                        hr
                        h5.text-primary Телефонные номера
                        .form-group.hidden
                          .col-lg-4.col-md-12.col-sm-5
                              label Актуальность за месяц
                          .col-lg-8.col-md-12.col-sm-7
                              .input-group.input-group-sm
                                  .input-group-addon №
                                  input.form-control(type="number" name="params.months" value=params["months"])
                        .form-group.hidden
                            .col-lg-4.col-md-12.col-sm-5
                                label Лимит ответов
                            .col-lg-8.col-md-12.col-sm-7
                                .input-group.input-group-sm
                                    .input-group-addon №
                                    input.form-control(type="number" name="params.limit" value=params["limit"])
                        .form-group.hidden
                            .col-lg-4.col-md-12.col-sm-5
                                label Известные телефоны
                            .col-lg-8.col-md-12.col-sm-7
                                .input-group.input-group-sm
                                    input.form-control#phones(type="text" name="params.phones" value=params["phones"] data-role="tagsinput" )
                  .panel-footer
                      .row
                          .col-md-4.col-md-push-4
                              button.btn.btn-block.btn-primary#formSubmit(type="submit") Создать
  .row
    .col-md-12.col-sm-12.col-xs-12
      .panel.panel-default
          .panel-heading Архив запросов
          .panel-body
            #accordion.panel-group(role='tablist', aria-multiselectable='true')
              .panel.panel-default
                #headingOne.panel-heading(role='tab')
                  h4.panel-title
                    a(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                      .row
                        .col-lg-2 17.03.2017 22:56
                        .col-lg-8 Вася Курочкин
                        .col-lg-2.pull-right
                          span.label.label-default checkPhone 
                #collapseOne.panel-collapse.collapse.in(role='tabpanel', aria-labelledby='headingOne')
                  .panel-body
                    .col-md-4.col-sm-4.col-xs-12
                      h4 Вася Курочкин
                      ul.list-unstyled
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Дата рождения")
                          i.fa.fa-calendar
                          | &nbsp;09.09.2009
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Паспорт и дата выдачи")
                          i.fa.fa-file
                          | &nbsp;1009 788889&nbsp;27.07.2002
              .panel.panel-default
                #headingTwo.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                      .row
                        .col-lg-2 15.03.2017 20:12
                        .col-lg-8 Иннокентий Сучков
                        .col-lg-2.pull-right
                          span.label.label-success checkPhone 
                #collapseTwo.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingTwo')
                  .panel-body
                    .col-md-4.col-sm-4.col-xs-12
                      h4 Иннокентий Сучков
                      ul.list-unstyled
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Дата рождения")
                          i.fa.fa-calendar
                          | &nbsp;25.01.2003
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Паспорт и дата выдачи")
                          i.fa.fa-file
                          | &nbsp;1107 348889&nbsp;07.07.2012
              .panel.panel-default
                #headingThree.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                      .row
                        .col-lg-2 10.03.2017 11:26
                        .col-lg-8 Геннадий Павлов
                        .col-lg-2.pull-right
                          span.label.label-danger skipTrace 
                #collapseThree.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingThree')
                  .panel-body
                    .col-md-4.col-sm-4.col-xs-12
                      h4 Геннадий Павлов
                      ul.list-unstyled
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Дата рождения")
                          i.fa.fa-calendar
                          | &nbsp;23.09.2006
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Паспорт и дата выдачи")
                          i.fa.fa-file
                          | &nbsp;1007 387989&nbsp;03.02.2003
              
              .panel.panel-default
                #headingFour.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                      .row
                        .col-lg-2 06.02.2017 03:42
                        .col-lg-8 Игорь Иванов
                        .col-lg-2.pull-right
                          span.label.label-success skipTrace 
                #collapseFour.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFour')
                  .panel-body
                    .col-md-4.col-sm-4.col-xs-12
                      h4 Игорь Иванов
                      ul.list-unstyled
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Дата рождения")
                          i.fa.fa-calendar
                          | &nbsp;09.09.1987
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Паспорт и дата выдачи")
                          i.fa.fa-file
                          | &nbsp;1597 634859&nbsp;11.03.2007
                          
              .panel.panel-default
                #headingFive.panel-heading(role='tab')
                  h4.panel-title
                    a.collapsed(role='button', data-toggle='collapse', data-parent='#accordion', href='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                      .row
                        .col-lg-2 04.02.2017 13:12
                        .col-lg-8 Артур Пирожков
                        .col-lg-2.pull-right
                          span.label.label-primary checkPhone 
                #collapseFive.panel-collapse.collapse(role='tabpanel', aria-labelledby='headingFive')
                  .panel-body
                    .col-md-4.col-sm-4.col-xs-12
                      h4 Артур Пирожков
                      ul.list-unstyled
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Дата рождения")
                          i.fa.fa-calendar
                          | &nbsp;10.08.1979
                        li(data-toggle="tooltip" data-placement="left" title data-original-title="Паспорт и дата выдачи")
                          i.fa.fa-file
                          | &nbsp;1207 987501&nbsp;12.04.2015
            
  script.
    var dh = {
        sources: {},
        blocks: {
            "phone":{
              skipTrace: 1,
            },
            "aggrement": {
                longCheck: 2,

            },
            "document": {
                skipTrace: 2,
                fastCheck: 2,

            },
            "regAddr": {

                
                longCheck: 2,
                
            },
            "actAddr": {
                longCheck: 2,

            },
            "loan": {
                fastCheck: 2,
                longCheck: 2,

            },
        },

        fields: {

            "params.lastName": {
                skipTrace: 2,
                fastCheck: 2,
            },
            "params.firstName": {
                skipTrace: 2,
                fastCheck: 2,
            },
            "params.middleName": {
                skipTrace: 1,
                fastCheck: 1,
            },
            "params.gender": {
                fastCheck: 1,
            },
            "params.dateOfBirth": {
                skipTrace: 2,
                fastCheck: 2,
            },
            //- "placeOfBirth": {
            //-
            //- },
            "params.idSeria": {
                fastCheck: 2,
                skipTrace: 2,
            },
            "params.idNumber": {
                skipTrace: 2,
                fastcheck: 2,
            },
            "params.idIssueDate": {
                skipTrace: 2,
                fastCheck: 2,
            },
            "params.idIssuePlace": {
                longCheck: 2,
            },
            "params.months": {
                skipTrace: 1,
            },
            "params.limit": {
                skipTrace: 1,
            },
            "params.phones":{
                skipTrace: 1,
            },
            //- "snils": {
            //-
            //- },
            //-
            //- "regRegion": {
            //-
            //- },
            //- "regCity": {
            //-
            //- },
            //- "regStreet": {
            //-
            //- },
            //- "regHouse": {
            //-
            //- },
            //- "regAppartment": {
            //-
            //- },
            //-
            //- },
            //- "actRegion": {
            //-
            //- },
            //- "actCity": {
            //-
            //- },
            //- "actStreet": {
            //-
            //- },
            //- "actHouse": {
            //-
            //- },
            //- "actAppartment": {
            //-
            //- },
            "params.loan": {
                fastCheck: 2,
            },
            "params.loanDuration": {
                fastCheck: 2,
            },
            "params.loanType": {
                fastCheck: 1,
            },
            //- "loanCurrency": {
            //-
            //- },
            //- "loanReason": {
            //-
            //- },
        },
    };
    
    $(document).ready(function(){
      
      //- $('#phones').tagsinput({
      //-     maxChars: 8
      //-   });
      
      
      
      //- $('#tokenfield').tokenfield({
      //-      
      //- });
      
      //- $(".bootstrap-tagsinput")
      //-   
      //-    .find('[name="phones"]')
      //-        // Revalidate the cities field when it is changed
      //-        .change(function (e) {
      //-            console.log('1111111');
      //-            //$('#params').formValidation('revalidateField', 'phones');
      //-        })
      //-        .end()
        //-  .formValidation({
        //-      framework: 'bootstrap',
        //-      excluded: ':disabled',
        //-      icon: {
        //-          valid: 'glyphicon glyphicon-ok',
        //-          invalid: 'glyphicon glyphicon-remove',
        //-          validating: 'glyphicon glyphicon-refresh'
        //-      },
        //-      fields: {
        //-          phones: {
        //-              validators: {
        //-                
        //-                  notEmpty: {
        //-                      message: 'Please enter at least one city you like the most.'
        //-                  }
        //-                  callback: {
        //-                      message: 'Введен некорректный номер телефона',
        //-                      callback: function (value, validator, $field) {
        //-                          // Get the entered elements
        //-                          var options = validator.getFieldElements('countries').tagsinput('items');
        //-                          
        //-                          console.log(options);
        //-                          
        //-                          return (options !== null && options.length >= 9  && options.length <= 11);
        //-                      }
        //-                  }
        //-              }
        //-          }
        //-      }
        //-  });
    });
    
    var params = $('#params'),
        blocks = $('.form-block'),
        groups = $('.form-group'),
        fields = $('.form-control,input'),
        sourcesIn = $('input[type="hidden"]');
    sourcesIn.each(function (i, el) {
      dh.sources[el.name] = (el.value == "1");
    });
      updateSources();
      updateFields();
      function updateFields() {
        sourcesIn.each(function (i, el) {
            el.value = dh.sources[el.name] ? "1" : "0";
        });

          groups
          .addClass("hidden")
          .removeClass("required");

          fields.each(function (i, el) {
              var name = el.name,
                  field = dh.fields[name];

              if (field) {
                  for (var code in dh.sources) {
                      if (dh.sources.hasOwnProperty(code) && dh.sources[code]) {
                          var $gp = $(el).parents(".form-group");
                          if (field[code] > 1) {
                              $gp.addClass("required");
                          }
                          if (field[code] > 0) {
                              $gp.removeClass("hidden");
                          }
                      }
                  }
              }
          });

          blocks
          .addClass("hidden")
          .each(function (i, el) {
              if (dh.blocks[el.id]) {
                  for (var code in dh.sources) {
                      if (dh.sources[code] && dh.blocks[el.id][code]) {
                          $(el).removeClass("hidden");
                      }
                  }
              }
          });
        };
        
      
        
      //- $('#formSubmit').click(function(e){
      //-     
      //-     e.preventDefault();
      //-     
          //- var panel = $('.panel-body'),
          //-     group = panel.children('.form-group.required'),
          //-     block = panel.children('.form-block:not(.hidden)');
          //-     //console.log(block);
          //-   group.each(function(){
          //-     var reqGroup = $(this);
          //-       validate(reqGroup.find('input'));
          //-   })
          //-   block.each(function(){
          //- 
          //-       var formGroup = $(this).children('.form-group.required').find('input');
          //-     
          //-       formGroup.each(function(){
          //-           validate($(this));
          //-       });
          //-       
          //-       var select = $(this).children('.form-group.required').find('select');
          //-       
          //-       select.each(function(){
          //-           validate($(this));
          //-       })
          //-   });
          //-   
          //-   var $firstErr = $('form').find('.has-error:first');
          //- 
          //-   $('html, body').animate({
          //-       scrollTop: $firstErr.offset().top - 100
          //-   }, 500);
          //-   
          //- });
          
          function errorState(val, state){
            state ? val.closest('.form-group').removeClass('has-error') : val.closest('.form-group').addClass('has-error') ;
          }
        
          function isGoodDate(dt){
              var reGoodDate = /^\d{2}\/\d{2}\/\d{4}$/;
              return reGoodDate.test(dt);
          }
          function dateCheck (dateField){
                        
            var date       = dateField.datepicker('getDate'),
                now        = new Date(Date.now());
                val        = dateField.val(),
                isCorrect  = false;
                          
            if(val.length < 1 || !isGoodDate(val)){
              isCorrect = false;
            }else{
              (now.getTime() > date.getTime()) ? isCorrect = true : isCorrect = false;
            };
            return isCorrect;  
          }      
        function validate (field){
          
          switch (field.attr('name')) {
            case 'params.lastName':
              (field.val().length >= 2) ? errorState(field, true) : errorState(field, false);              
              break;
            case 'params.firstName':
              (field.val().length >= 2) ? errorState(field, true) : errorState(field, false);
              break;
            case 'params.dateOfBirth':

                (dateCheck(field)) ? errorState(field, true) : errorState(field, false);
                break;
            case 'params.idIssueDate':
                (dateCheck(field)) ? errorState(field, true) : errorState(field, false);
              break;
            case 'params.idSeria': 
            
              var pattern = /^\d{4}$/;
              (pattern.test(field.val()) ) ? errorState(field, true) : errorState(field, false);
                            
              break;  
            case 'params.idNumber': 
              
              var pattern = /^\d{6}$/;
              (pattern.test(field.val()) ) ? errorState(field, true) : errorState(field, false);
              
              break;
            case 'params.loan':
            
              (field.val() > 0) ? errorState(field, true) : errorState(field, false);
              break;
            case 'params.loanDuration':
              (field.val() > 0) ? errorState(field, true) : errorState(field, false);
              break;
            default:
              console.log('smth another');
          }
        }
        
        function updateSources() {
            var hasSelected = false;
            $("#sources > a.list-group-item").each(function (a) {
                var $this = $(this),
                    code = $this.attr("data-name");
                if (dh.sources[code]) {
                    $this.addClass("list-group-item-success");
                    hasSelected = true;
                } else {
                    $this.removeClass("list-group-item-success");
                }
            });
            if (hasSelected) {
                $("#splash").addClass("hidden");
                $("#params").removeClass("hidden");
            } else {
                $("#splash").removeClass("hidden");
                $("#params").addClass("hidden");
            }
        }
        $("#sources").on("click", "a.list-group-item", function (event) {
            event.preventDefault();
            var code = $(this).attr("data-name");
            dh.sources[code] = !dh.sources[code];
            updateSources();
            updateFields();
            return false;
        });
        $('a.src').on('click', function(e){
          e.preventDefault();
        });
        $("a.toggle-checkbox").click(function (event) {
            event.preventDefault();

            var $this = $(this),
                selector = $this.attr("data-name"),
                $checkbox = $(selector);

            console.log($checkbox);

            $checkbox.prop("checked", !$checkbox.prop("checked")).change();

            if ($checkbox.prop("checked")) {
                $this.addClass("toggle-checkbox-checked");
            } else {
                $this.removeClass("toggle-checkbox-checked");
            }

            return false;
        });
        //- $("#actAsReg").change(function () {
        //-     var $this = $(this);
        //-     if ($this.prop("checked")) {
        //-         $("#actAddr").addClass("hidden");
        //-     } else {
        //-         $("#actAddr").removeClass("hidden");
        //-     }
        //- });
        
        
        $('#params').submit(function (event) {
            event.preventDefault();
            
            var panel = $('.panel-body'),
                group = panel.children('.form-group.required'),
                block = panel.children('.form-block:not(.hidden)');
                //console.log(block);
              group.each(function(){
                var reqGroup = $(this);
                  validate(reqGroup.find('input'));
              })
              block.each(function(){
          
                  var formGroup = $(this).children('.form-group.required').find('input');
                
                  formGroup.each(function(){
                      validate($(this));
                  });
                  
                  var select = $(this).children('.form-group.required').find('select');
                  
                  select.each(function(){
                      validate($(this));
                  })
              });
              
              var $firstErr = $('form').find('.has-error:first');
          
            if($firstErr.length !== 0){        
              $('html, body').animate({
                  scrollTop: $firstErr.offset().top - 100
              }, 500);
            } else {
              
                console.log('!!!');
                
                var $form = $(this),
                    action = $form.attr("action"),
                    data = $form.serialize();
                console.log(data);            
                $
                .post(action, data)
                .then(function (res, status) {
                    if (status !== "success") {
                        return false;
                    }
                    if (!res) {
                        return false;
                    }
                    if (res.success && res.id) {
                        window.location = "/request/send/" + res.id;
                    }
                })
                .fail(function (xhr, status, message) {
                    console.log(arguments);
                });
            
                return false;
                
              }
              
            });
            
        //-       
        //-     var $form = $(this),
        //-         action = $form.attr("action"),
        //-         data = $form.serialize();
        //- 
        //-     $
        //-     .post(action, data)
        //-     .then(function (res, status) {
        //-         if (status !== "success") {
        //-             return false;
        //-         }
        //-         if (!res) {
        //-             return false;
        //-         }
        //-         if (res.errors) {
        //- 
        //-             fields
        //-             .each(function (i, el) {
        //-                 var $control = $(el),
        //-                     $group = $control.parents(".form-group"),
        //-                     errMsg = res.errors[el.name];
        //- 
        //-                 if (errMsg) {
        //-                     $group.addClass("has-error");
        //-                     $control.tooltip('hide')
        //-                     .attr('data-original-title', errMsg)
        //-                     .tooltip('fixTitle');
        //-                 } else {
        //-                     $group.removeClass("has-error");
        //-                     $control.tooltip('hide')
        //-                     .attr('data-original-title', "")
        //-                     .tooltip('fixTitle');
        //-                 }
        //-             });
        //- 
        //-             return;
        //-         }
        //-         if (res.success && res.id) {
        //-             window.location = "/request/fl/send/" + res.id;
        //-         }
        //-     })
        //-     .fail(function (xhr, status, message) {
        //-         console.log(arguments);
        //-     });
        //- 
        //-     return false;
        //- });


    //- pre= JSON.stringify(params, "", 2)

    //- script cmtSubmitForm('#params');
