doctype html
html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(href='/css/bootstrap.css', rel='stylesheet')
        link(href='/css/bootstrap-theme.css', rel='stylesheet')
        link(href='/css/bootstrap-tagsinput.css', rel='stylesheet')
        //- link(href='/css/bootstrap-tokenfield.min.css', rel='stylesheet')
        //- link(href='/css/tokenfield-typeahead.min.css', rel='stylesheet')
        link(href='/css/custom.css', rel='stylesheet')
        link(href='/css/jquery-ui.min.css', rel='stylesheet')
        link(href='/css/bootstrap-datetimepicker.min.css')
        
        
        
        
        //- link(href='/css/jquery-ui.theme.min.css', rel='stylesheet')
        link(href='/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
      
      
        //script(src='/js/custom.js')
        script(src='/js/jquery-3.1.1.js')
        script(src='/js/moment/moment.min.js')
        script(src='/js/bootstrap.js')
        script(src='/js/bootstrap-tagsinput.js')
        script(src='/js/bootstrap-datetimepicker.min.js')
        //script(src='/js/bootstrap-tokenfield.min.js')
        
        script(src='/js/jquery-ui.js')
        script(src='/js/common.js')
        script(src='/vendors/jquery.inputmask/dist/min/jquery.inputmask.bundle.min.js')
        



        //- link(href='/vendors/iCheck/skins/flat/green.css', rel='stylesheet')
        //- link(href='/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css', rel='stylesheet')
        //- link(href='/vendors/pnotify/dist/pnotify.css', rel='stylesheet')
        //- link(href='/vendors/pnotify/dist/pnotify.buttons.css', rel='stylesheet')
        //- link(href='/vendors/pnotify/dist/pnotify.nonblock.css', rel='stylesheet')

    body.nav-md
        .body
            .main_container
                block content
        footer
            .pull-right
                | &copy; 2016 DATA-HUB.PRO
            .clearfix
