doctype html
html
    head
        title= title
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        //link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.css', rel='stylesheet')
        link(href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', rel='stylesheet')
        link(href='./css/jquery-ui.min.css', rel='stylesheet')
        link(href='./css/custom.css', rel='stylesheet')
        link(href='./css/style.css', rel='stylesheet')
    body.login
        div
            a#signup.hiddenanchor
            a#signin.hiddenanchor
            .login_wrapper
                .animate.form.login_form
                    section.login_content
                        form(method='post')
                            h1 Авторизация
                            div
                                input.form-control(type='text', placeholder='Имя пользователя', required=true name='username')
                            div
                                input.form-control(type='password', placeholder='Пароль', required=true name='password')
                            div
                                button.btn.btn-default(type='submit')
                                //a.btn.btn-default.submit
                            .clearfix
                            .separator
                                br
                                div
                                    p
                                        | &copy; 2016 DATA-HUB.PRO
