body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #fff!important;
}

a {
  color: #00B7FF;
}

h4, h5, h6 {
  margin-top: 5px!important;
  margin-bottom: 2px!important;
}
.label-default {
  background-color: #cecece!important;
}
/*.sidePadding{
  padding-right: 2vw;
  margin-bottom: 1vh;
}

.form-group{
  margin-left: 0!important;
  margin-right: 0!important;
}
label{
  width: 90%;
  cursor: pointer;
}*/
#sources .fa-check-circle {
    display: none;
}
#sources .list-group-item-success .source-state > .fa-plus {
    display: none;
}
#sources .list-group-item-success .source-state > .fa-check-circle {
    display: inline;
}
.toggle-checkbox > .fa-check-circle {
    display: none;
}
.toggle-checkbox-checked > .fa-check-circle {
    display: inline;
}

#sources a {
  cursor: pointer;
}


.has-error .form-control, .has-error .input-group-addon{

  color: #a94442;
  border-color: #a94442;
  background-color: #f2dede;
}


.bootstrap-tagsinput input {
  width: 25vw!important;
  height: 10vh!important;
}


#historyInterval div:first-child {
  margin: .5vh 0 1vh;
}
#historyInterval {
  padding: 10px!important;
}


#historyRows .form-control{
  height: auto!important;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#historyRows .input-group {
  margin-bottom: -1px;

}
#historyRows .panel{
  margin-bottom: 10px!important;
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}
#historyRows .input-group-addon {
  background-color: #fff;
  border-radius: 0;
  -webkit-appearance: none;
  min-width: 90px;
  padding: 2px 12px 0!important;
}
/*#historyRows .input-group-addon.success {
  background-color:  #5cb85c;
  color: #fff;
}
#historyRows .input-group-addon.danger {
  background-color:  #d9534f;
  color: #fff;
}
#historyRows .input-group-addon.default {
  background-color:  #ccc;
  color: #fff;
}*/
#historyRows .form-control {
  padding: 0 12px!important;
  border-right: none!important;
}

#historyRows span {
  font-size: 13px;
}
#historyRows .input-group>.input-group-addon:first-child{
  background-color: #eeeeee;
}
#historyRows .input-group>.input-group-addon:nth-child(2){
  border-right: none;
}
#historyRows .serviceName {
  font-size: 10px;
  border-left: none!important;
}
#historyRows a.toolTip{

  cursor: pointer;
  display: inline-block;
  padding: 6px 5px 0;
  margin: 0 4px;
}
#historyRows a.toolTip.success {
  color: #5cb85c;
  background-color: rgba(92, 184, 92, 0.12);
  border: 1px solid #5cb85c;
}
#historyRows a.toolTip.default {
  color: #cecece;
  background-color: rgba(200, 200, 200, 0.12);
  border: 1px solid #cecece;
}
#historyRows a.toolTip.danger {
  color: #d9534f;
  background-color: rgba(217, 83, 79, 0.12);
  border: 1px solid #d9534f;
}
#historyRows a.toolTip label{
  cursor: pointer;
}

#historyRows .list-group-item:first-child {
     border-top-left-radius: 0;
     border-top-right-radius:0;
}
.material-switch > input[type="checkbox"] {
    display: none;
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative;
    width: 40px;
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}
a.toolTip, a.toolTip:hover, a.toolTip:visited{
  color: #fff;
  cursor: pointer;
}

.fa-myCustom{
  font-size: 17px;
  vertical-align: text-bottom;
}
