//
   Created by Zybr on 31.12.2016.
mixin form-group(options)
    - var fieldId = 'field_' + options.name;
    .form-group.row
        label.control-label.col-md-2.col-sm-2.col-xs-12(for=fieldId)= options.label
            if(options.required)
                span.required  *
        if options.type == 'group'
            for field in options.fields
                .col-md-3.col-sm-3.col-xs-12
                    input.form-control(data-minlength="6" id=fieldId type="text" required=field.required name=field.name placeholder=field.label class=field.type == 'date' ? 'date-picker' : '')
        else
            .col-md-6.col-sm-6.col-xs-12
                input.form-control(id=fieldId type="text" required=options.required name=options.name class=options.type == 'date' ? 'date-picker' : '')

mixin service(service)
    case service.status
        when 0
            span.label.label-danger=service.code
        when 1
            span.label.label-success=service.code
        when 2
            span.label.label-primary=service.code
        when 3
            span.label.label-default=service.code
    | &nbsp;
